body{
    background-color: aliceblue;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}



section{
    display: flex;
   flex-direction: column;

   
}

.main{
    display: flex;
}

.navbar{
    margin: 10;
    background-color: aliceblue;
    min-width: 200px;
}

article{
    flex: 1;
    
}
article:nth-of-type(3){
    flex: 1;
    
}

.flexContainer {
    display: flex;
    background-color: bisque;
}

.flexrowContainer{
    display: flex;
    align-items: stretch;
    background-color: blueviolet;
}

h1{
    margin-top: 10px;
  
    text-align: center;
    text-transform: uppercase;
}

a:link{
    color: rgb(255, 0, 0);
}
a:hover {
    color:rgb(0, 0, 255);
}


p{


}


.photo{
    border: 1px;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    padding: 10px;
    opacity: .5;
    border-color: rgb(255, 0, 0);

}
.logo{
    border: 1px;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    padding: 10px;
    opacity: .5;

    border-color: rgb(255, 0, 0);
}