body{
background-color: rgb(160, 248, 227);
font-size: 14;
font-family: 'Times New Roman', Times, serif;
font;
}


h1{
margin-top: 10;
border-bottom: 7px;
border-color: rgb(0, 0, 0);
border-bottom-style: solid;
text-align: center;
text-transform: uppercase;
}

a:link{
color: rgb(255, 0, 0);
}
a:hover {
color:rgb(0, 0, 255);
}


p{


}


img{
border: 1px;
border-style: solid;
border-width: 250;
padding: 10px;
opacity: .5;

border-color: rgb(255, 0, 0);

}
